<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ciubotariu_levy.lednotifier"
    android:versionCode="9"
    android:versionName="2.1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="22" />

    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.ContactNotifierBase" >
        <receiver android:name=".messages.MessageReceiver" >
            <intent-filter android:priority="999" >
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
            <intent-filter android:priority="999" >
                <action android:name="android.provider.Telephony.WAP_PUSH_RECEIVED" />
                <data android:mimeType="application/vnd.wap.mms-message" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receivers.BootBroadcastReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receivers.LedCancelReceiver"
            android:exported="false" >
        </receiver>
        <receiver
            android:name=".receivers.NotificationDismissReceiver"
            android:exported="false" >
        </receiver>

        <activity
            android:name=".ui.activity.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.SettingsActivity"
            android:label="@string/title_activity_settings" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.MainActivity" />
        </activity>
        <activity
            android:name=".ui.activity.AboutActivity"
            android:label="@string/title_activity_about" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.MainActivity" />
        </activity>
        <activity
            android:name=".ui.activity.SMSAppChooserContainer"
            android:theme="@style/Theme.ContactNotifierTranslucent" >
        </activity>
        <activity
            android:name=".ui.activity.DefaultColorChooserContainer"
            android:theme="@style/Theme.ContactNotifierTranslucent" >
        </activity>

        <service
            android:name=".notifications.NotificationService"
            android:label="@string/service_name"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE" >
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
        <service
            android:name=".dataobserver.ObserverService"
            android:label="@string/observer_service_name" />

        <provider
            android:name=".providers.LedContactProvider"
            android:authorities="com.ciubotariu_levy.lednotifier.providers.LedContactProvider"
            android:exported="false" >
        </provider>

        <!--<activity-->
            <!--android:name=".TipContainer"-->
            <!--android:label="@string/title_activity_tip_container"-->
            <!--android:theme="@style/Theme.ContactNotifierTranslucent">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        <!--</activity>-->
    </application>

</manifest>